.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
  padding: 15px 20px;
  .logo {
    height: 22px;
  }
  .links {
    display: flex;
    gap: 20px;
    align-self: center;
    .link__icon {
      font-size: 22px;
    }
  }
}

.upload-img-form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  input {
    display: none;
  }
  label:hover {
    cursor: pointer;
  }
  .link__icon::before {
    margin-left: auto;
  }
}
